PORT=3000

# http://localhost:PORT default value
ORIGIN=http://localhost:3000

# 1 to send emails with SES
AWS_SES=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# request_event, internal_error, background_job, action_result, request_email
LOGS=internal_error,background_job
